<!DOCTYPE html>
<html>
  <head>
    <title>FantasticKnowledge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation-->
    <%= render partial: '/layouts/navbar' %>
    <div class="container">
      <% if user_signed_in? %>
        <p>Hello, <%= current_user.first_name %> !
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <%= render partial: '/layouts/footer' %>
  </body>
</html>
